.Pages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
}

.Pages-item {
    padding: 1px;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Pages-item:hover {
    background: #E1E1E1;
}